<a href="https://colab.research.google.com/github/stevenkcolin/tensorflow/blob/master/tf_test001_190125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.1 Padas Hello World

In [2]:
# first tf code
# 一开始先导入 pandas 库
from __future__ import print_function
import pandas as pd
pd.__version__

'0.22.0'

### 1.2 展示如何操纵数据

In [4]:
# pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199